extends layout

block content
      link(rel='stylesheet', href='/css/detail.css')
      table.detail
        thead
          tr 
            th ID
            th 이름
            th 주소
        tbody
            tr
              td #{oneBuyer.c_id}
              td #{oneBuyer.c_name}
              td(colspan="3") #{oneBuyer.c_address}
            tr
              th 전화번호
              th 담당자명
              td 
            tr
              td #{oneBuyer.c_tel}
              td #{oneBuyer.c_manager}
              td 
      div.button
        button(data-btnid= `${oneBuyer.c_id}`).update  정보수정
        button(data-btnid= `${oneBuyer.c_id}`).delete  정보삭제
      table
        thead
          th No.
          th 거래일자
          th 상품명
          th 단가
          th 수량
          th 금액
        tbody
          tr
            td 1
            td 2022-10-01
            td 아이폰13
            td 1,2000,000
            td 10
            td 12,000,000
      div.button
        button.add 주문추가