extends layout

block content
 header 
   h1 나라상사 ERP 시스템 2022
 section
   nav
     ul 
      li Home 
      li 주문관리
      li 결제관리
      li 거래처관리
      li 상품관리
      li 로그인
   article  
    form(method="POST").buyer
     div     
      label 거래처ID
        input(name = "c_id" placeholder = "거래처ID 를 입력하세요" value= `${updatebuyer.c_id}`)
     div 
      label 거래처명
        input(name = "c_name" placeholder = "거래처이름을 입력하세요" value= `${updatebuyer.c_name}`)
     div 
      label 전화번호
        input(name = "c_tel" placeholder= "연락처를 입력하세요" value= `${updatebuyer.c_tel}`)
     div 
      label 담당자명
        input(name = "c_manager" placeholder="담당자명을 입력하세요" value= `${updatebuyer.c_manager}`)
     div 
      label 전화번호
        input(name = "c_mgtel" placeholder="담당자연락처를 입력하세요" value= `${updatebuyer.c_mgtel}`)
     div 
      label 주소
        input(name = "c_address" placeholder="주소를 입력하세요" value= `${updatebuyer.c_address}`)   
     div.buttons
      button.save 변경
      button.restart 새로작성
      button.list 리스트로

        

